<h1>Books Catalog</h1>

<% @books.each do |book| %>
  <section id="book-<%=book.id%>">
    <p><%= book.title %></p>
    <p><%= book.pages %></p>
    <p><%= book.year %></p>
    <% book.authors.each do |author| %>
      <p><%= link_to author.name, "/authors/#{author.id}" %></p>
    <% end %>
  </section>
<% end %>
